<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Ping" address="http://localhost:8000/ping" binding="wsDualHttpBinding" contract="Communication.Contracts.Service.IPing"
                bindingConfiguration="PongCallbackBinding">
      </endpoint>
    </client>

    <bindings>
      <!-- configure a binding that support duplex communication -->
      <wsDualHttpBinding>
        <binding name="PongCallbackBinding" clientBaseAddress="http://localhost:8001/pong"/>
        <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8001/pong user=yourlocaluser` -->
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>